
.lorem
{
    font-family: signika negative;
}

.solid-line {
    border-bottom: 3px solid rgb(180, 116, 180);
}

/* ----------------------------------buttons section */

.view-more-btn {
    width: 200px;
    padding: 5px 30px;
}

.view-gallery-btn,
.view-services-btn,
.view-booking-btn
{
    width: 330px;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 5px 3px;
}

.view-more-btn,
.view-gallery-btn,
.view-services-btn,
.view-booking-btn
{    
    font-family: mukta;
    background-color: transparent;
    box-shadow: inset 0 0 0 0 rgb(180, 116, 180);
    transition: ease-out 0.3s;
    border: 1px solid rgb(180, 116, 180);
    color: rgb(180, 116, 180);
}

.view-more-btn:hover {
    color: white;
    box-shadow: inset 200px 0 0 0 rgb(180, 116, 180);
}

.view-gallery-btn:hover,
.view-services-btn:hover,
.view-booking-btn:hover
{
    color: white;
    box-shadow: inset 330px 0 0 0 rgb(180, 116, 180);
}

.reload-message-btn,
.continue-btn,
.display-time-date-btn,
.back-btn-1,
.back-btn-2,
.submit-message-btn,
.confirm-appt-btn,
.return-home-btn
{
    font-family: signika negative;
    letter-spacing: 2px;
    background-color: transparent;
    padding: 5px 3px;
}


/* ----------------------------------inputs section */

.first-name-contact,
.last-name-contact,
.email-contact,
.message-contact,
.first-name-booking,
.last-name-booking,
.email-booking,
.phone-booking,
.date-booking,
.time-booking
{
    font-family: signika negative;
    margin: 12px 5px;
    border: 1px solid white;
    border-bottom: 1px solid gray;
    background-color: white;
    padding: 10px 5px;
    font-size: 20px;
}

.first-name-contact:focus,
.last-name-contact:focus,
.email-contact:focus,
.message-contact:focus,
.first-name-booking:focus,
.last-name-booking:focus,
.email-booking:focus,
.phone-booking:focus,
.date-booking:focus,
.time-booking:focus
{
    outline: none;
}

/* ----------------------------------navbar section */
.logo-link {
    background-image: url(images/bc-logo-image.jpg);
    height: 100px;
    width: 214px;
    background-size: cover;
}

.navbar {
    background-color: white;
    color: black;
    height: 120px;
    position: sticky;
    font-family: prata;
    font-size: 16px;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.nav-links {
    font-family: signika negative;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    height: 100%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    letter-spacing: 2px;
}

.nav-links:hover {
    color: rgb(180, 116, 180);
    transform: scale(1);
    text-decoration: overline;
}

.nav-links-active {
    font-family: signika negative;
    color: rgb(180, 116, 180);
    text-decoration: overline;
    margin: 0 10px;
    height: 100%;
    letter-spacing: 2px;
}

.nav-links-active:hover {
    color: rgb(180, 116, 180);
    transform: scale(1);
}

.menu-icon {
    display: none;
}

.nav-links-mobile {
    display: none;
}

@media screen and (max-width: 960px) {


    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        position: absolute;
        top: 120px;
        left: -100%;
        transition: all 1s ease;
        background-color: white;

    }


    .nav-links:hover,
    .nav-links-active:hover
    {
        color: white;
    }
    .nav-item:hover {
        background-color: rgb(180, 116, 180);
    }

    .nav-menu.active {
        left: 0;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links,
    .nav-links-active
    {
        /* background-color: transparent; */
        text-align: start;
        align-items: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-110%, 60%);
        font-size: 35px;
        cursor: pointer;
        transition: color 0.5s ease;
    }

    .menu-icon:hover {
        color: rgb(180, 116, 180);
    }
}

/* ----------------------------------titles section */

.sub-titles
{
    font-family: signika negative;
    letter-spacing: 3px;
}

.titles {
    font-family: prata;
    letter-spacing: 3px;
    
}

#titles {
    font-family: prata;
}

.sub-titles {
    color: rgb(180, 116, 180);
}


.page-titles {
    font-family: prata;
    letter-spacing:3px;
}

.homepage-title {
    font-family: prata;
    margin-top: 20%;
    padding: 5px;
    background-color: rgb(238, 215, 219);
    opacity: 0.9;
    letter-spacing: 3px;
    font-size: 60px;
}

/* ----------------------------------homepage section */ 

#homepage-banner {
    background-image: url(https://bedazzlednailsandspa.com/images/3.jpg);
    height: 780px;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
}

.homepage-gallery-container,
.gallery-title-container,
.gallery-container,
.page-number-container
{
    background-color: whitesmoke;
}

.homepage-gallery-image-1 {
    background-image: url(https://images.unsplash.com/photo-1633092925902-2ccfad179aa8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.homepage-gallery-image-2 {
    background-image: url(https://images.unsplash.com/photo-1588015810531-dd522c9c8bbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=802&q=80);
}

.homepage-gallery-image-3 {
    background-image: url(https://images.unsplash.com/photo-1587393795320-6e43b260ecd0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80);
}

.homepage-gallery-image-1,
.homepage-gallery-image-2,
.homepage-gallery-image-3 {
    width: 330px;
    height: 410px;
    background-size: 100%;
    margin: 0 10px;
    transition: background-size 1s ease;
    background-position: center center;
}

.homepage-gallery-image-1:hover,
.homepage-gallery-image-2:hover,
.homepage-gallery-image-3:hover {
    background-size: 120%;
}

.about-us-image {
    background-image: url(https://images.unsplash.com/photo-1557758484-a8f1b40fe94b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    width: 400px;
    height: 500px;
    background-size: cover;
}

#service-tab-active,
#booking-tab-active
{
    color: white;
    background-color: rgb(180, 116, 180);
}

#service-tab,
#booking-tab,
#service-tab-active,
#booking-tab-active
{
    width: 330px;
    padding: 10px 0 3px 0;
    box-shadow: inset 0 0 0 0 rgb(180, 116, 180);
    transition: ease-out 0.2s;
    border-bottom: 2px solid rgb(180, 116, 180);
    letter-spacing: 3px;
    font-family: prata;
}

#service-tab:hover,
#booking-tab:hover
{
    box-shadow: inset 330px 0 0 0 rgb(180, 116, 180);
    color: white;
    cursor: pointer;
}


/* ----------------------------------gallery section */ 

.gallery-image-1 {
    background-image: url(images/nail-pic-1.jpg);
    background-size: 100%;
}

.gallery-image-2 {
    background-image: url(images/nail-pic-2.jpg);
    background-size: 100%;
}

.gallery-image-3 {
    background-image: url(images/nail-pic-3.jpg);
    background-size: 100%;
}

.gallery-image-4 {
    background-image: url(images/nail-pic-4.jpg);
    background-size: 100%;
}

.gallery-image-5 {
    background-image: url(images/nail-pic-5.jpg);
    background-size: 100%;
}

.gallery-image-6 {
    background-image: url(images/nail-pic-6.jpg);
    background-size: 100%;
}

.gallery-image-7 {
    background-image: url(images/nail-pic-7.jpg);
    background-size: 100%;
}

.gallery-image-8 {
    background-image: url(images/nail-pic-8.jpg);
    background-size: 100%;
}

.gallery-image-9 {
    background-image: url(images/nail-pic-9.jpg);
    background-size: 180%;
}

.gallery-image-10 {
    background-image: url(images/nail-pic-10.jpg);
    background-size: 180%;
}

.gallery-image-11 {
    background-image: url(images/nail-pic-11.jpg);
    background-size: 180%;
}

.gallery-image-12 {
    background-image: url(images/nail-pic-12.jpg);
    background-size: 100%;
}

.gallery-image-13 {
    background-image: url(images/nail-pic-13.jpg);
    background-size: 100%;
}

.gallery-image-14 {
    background-image: url(images/nail-pic-14.jpg);
    background-size: 180%;
}

.gallery-image-15 {
    background-image: url(images/nail-pic-15.jpg);
    background-size: 240%;
}

.gallery-image-16 {
    background-image: url(images/nail-pic-16.jpg);
    background-size: 100%;
}

.gallery-image-17 {
    background-image: url(images/nail-pic-17.jpg);
    background-size: 140%;
}

.gallery-image-18 {
    background-image: url(images/nail-pic-18.jpg);
    background-size: 240%;
}

.gallery-image-1, 
.gallery-image-2,
.gallery-image-3,
.gallery-image-4,
.gallery-image-5,
.gallery-image-6,
.gallery-image-7,
.gallery-image-8,
.gallery-image-9,
.gallery-image-10,
.gallery-image-11,
.gallery-image-12,
.gallery-image-13,
.gallery-image-14,
.gallery-image-15,
.gallery-image-16,
.gallery-image-17,
.gallery-image-18
{
    background-position: center center;
    height: 400px;
    width: 300px;
    margin: 2px;
    transition: background-size 1s ease;
    
}

.gallery-image-1:hover, 
.gallery-image-2:hover,
.gallery-image-3:hover,
.gallery-image-4:hover,
.gallery-image-5:hover,
.gallery-image-6:hover,
.gallery-image-7:hover,
.gallery-image-8:hover,
.gallery-image-12:hover,
.gallery-image-13:hover,
.gallery-image-16:hover {
    background-size: 120%;
}

.gallery-image-9:hover,
.gallery-image-10:hover,
.gallery-image-11:hover,
.gallery-image-14:hover,
.gallery-image-17:hover {
    background-size: 200%;
}

.gallery-image-15:hover ,
.gallery-image-18:hover {
    background-size: 280%;
}

.page-number,
.page-number-active {
    font-family: cochin;
    text-decoration: none;
    border: 1px solid rgb(180, 116, 180);
    color:rgb(180, 116, 180);
    padding: 2px 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.page-number-active {
    background-color: rgb(180, 116, 180);
    color: white;
}

.page-number:hover,
.page-number-active:hover {
    background-color: rgb(180, 116, 180);
    color: white;
    transform: scale(1);
}

/* ----------------------------------services section */ 

.full-set-down:focus,
.full-set-down:focus
{
    user-select: none;
}

.full-set-down,
.full-set-up,
.rebase-down,
.rebase-up,
.manicure-down,
.manicure-up,
.pedicure-down,
.pedicure-up,
.deluxe-mani-down,
.deluxe-mani-up,
.deluxe-pedi-down,
.deluxe-pedi-up,
.bc-treatment-down,
.bc-treatment-up,
.gel-shellac-down,
.gel-shellac-up,
.kid-services-down,
.kid-services-up,
.additional-down,
.additional-up {
    font-family: prata;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.full-set-down:hover,
.full-set-up:hover,
.rebase-down:hover,
.rebase-up:hover,
.manicure-down:hover,
.manicure-up:hover,
.pedicure-down:hover,
.pedicure-up:hover,
.deluxe-mani-down:hover,
.deluxe-mani-up:hover,
.deluxe-pedi-down:hover,
.deluxe-pedi-up:hover,
.bc-treatment-down:hover,
.bc-treatment-up:hover,
.gel-shellac-down:hover,
.gel-shellac-up:hover,
.kid-services-down:hover,
.kid-services-up:hover,
.additional-down:hover,
.additional-up:hover
{
    /* color: rgb(180, 116, 180); */
    cursor: pointer;
    transform: scale(1);
}


.service-items {
    list-style-type: none;
    padding: 0px;
    font-family: cochin;
}

.extra-text {
font-family: prata;
color: gray;
}

/* ----------------------------------contact section */ 
.contact-us-image {
    width: 300px;
    height: 400px;
    background-size: cover;
}

.contact-container {
    margin-bottom: 50px;
}

.contact-text {
    font-size: 20px;
    font-family: cochin;
}

.send-message-title {
    font-family: prata;
    letter-spacing: 3px;
}

.message-recieved-text,
.appt-confirmed-text 
{
    font-family: cochin;
}

.social-links {
    font-family: cochin;
}

.required-contact-info,
.required-booking-info,
.required-date-info
{
    font-family: mukta;
    color: red;
}

.yelp-link,
.facebook-link
{
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;
}

.yelp-link:hover,
.facebook-link:hover {
    color: rgb(180, 116, 180);
    text-decoration: underline;
}


.contact-info {
    font-family: signika negative;
    letter-spacing: 2px;
    list-style-type: none;
    margin-bottom: 1px;
}

@media screen and (max-width: 960px) {
    .contact-info,
    .icons
    {
        font-size: 22px;
    }
}

#contact-information {
    padding: 10px 0;
    font-size: 25px;
}

.icons {
    list-style-type: none;
    color: rgb(180, 116, 180);
}

.find-us-on {
    font-family: cochin;
}

.submit-message-btn,
.reload-message-btn
{
    width: 200px;
    border: 1px solid black;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.5s;
}

.submit-message-btn:hover,
.reload-message-btn:hover {
    color: white;
    box-shadow: inset 200px 0 0 0 black;
}

.continue-btn,
.display-time-date-btn,
.back-btn-1,
.back-btn-2,
.return-home-btn,
.confirm-appt-btn
{
    width: 300px;
    border: 1px solid black;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.3s;
}

.continue-btn:hover,
.display-time-date-btn:hover,
.back-btn-1:hover,
.back-btn-2:hover,
.confirm-appt-btn:hover,
.return-home-btn:hover
{
    color: white;
    box-shadow: inset 300px 0 0 0 black;
}

/* ----------------------------------booking section */ 

.confirmation-container {
    display: none;
}

.booking-items {
    font-family: cochin;
    color: rgb(180, 116, 180);
}

/* ----------------------------------footer section */ 

.footer-titles {
    color: rgb(180, 116, 180);
    list-style-type: none;
    font-family: prata;

}

.footer-info {
    color: white;
    list-style-type: none;
    font-family: signika negative;
}

#copyright-section {
    color: rgb(180, 116, 180);
    font-family: cochin;
}

.bc-footer {
    color: rgb(180, 116, 180);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.bc-footer:hover {
    color: white;
    transform: scale(1);
}

.arrow-up {
    color: rgb(180, 116, 180);
    transition: color 0.5s ease;
}

.arrow-up:hover {
    color: rgb(238, 215, 219);
    cursor: pointer;
}


/* ----------------------------------components section */ 
.small-our-services {
    background-color: white;
}